body {
  background: repeating-linear-gradient(
    45deg,
    gray,
    gray 50px,
    #777777 50px,
    #777777 100px
  );
}

.control_window {
  background: #222222;
  border-width: 5px;
  border-style: solid;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  position: fixed;
  left: 0px;
  top: 0px;
}

.audience_display {
  width: 1280px;
}

.main_display {
  width: 800px;
}

.bar {
  height: 50px;
  padding-top: 5px;
  padding-left: 5px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.defaultbg {
  background: gray;
}

.gradeschool {
  background: #565d8d;
  background-image: linear-gradient(to right, #565d8d, #293164);
}

.programcontrol {
  background: #427f6d;
  background-image: linear-gradient(to right, #427f6d, #12503e);
}

.storagecellar {
  background: #757329;
  background-image: linear-gradient(to right, #757329, #525015);
}

a {
  text-decoration: none;
  color: black;
}

.button {
  background: #cccccc;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  height: 40px;
  width: 170px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  margin-right: 20px;
  line-height: 40px;
  font-family: ABeeZee;
}

.Pbutton {
  background: #777777;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  height: 40px;
  width: 80px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  margin-right: 12px;
  line-height: 40px;
  font-family: ABeeZee;
}

.btn_timeout {
  background: red;
  font-weight: bold;
  font-size: 120%;
  color: white;
}

.exit {
  background: rosybrown;
}

.title {
  font-family: ABeeZee;
  font-size: 160%;
  font-weight: bold;
  display: inline-block;
  position: relative;
  left: 0px;
  line-height: 45px;
}

.spacer {
  width: 50px;
}

.room_name {
  text-align: left;
  text-transform: uppercase;
}

.puzzle_image {
  border-width: 4px;
  border-right: 2px;
  border-style: solid;
  padding: 0px;
  margin: 0px;
  float: left;
  width: 962px;
}

.timer_section {
  border-width: 4px;
  border-style: solid;
  padding: 0px;
  margin: 0px;
  height: 176px;
  background-position: right;
  background-repeat: repeat;
  text-align: center;
  line-height: 200px;
  font-weight: 1000;
  font-size: 500%;
  font-family: ABeeZee;
}

.timer_bg_empty {
  background-image: url("timer_bg_empty.png");
}

.timer_bg_countdown {
  background-image: url("timer_bg_countdown.png");
}

.timer_bg_solved {
  background-image: url("timer_bg_solved.png");
}

.Gborder {
  border-color: #2e3da7;
}

.Pborder {
  border-color: #32b88f;
}

.Sborder {
  border-color: #646109;
}

.Xborder {
  border-color: #333333;
  background-image: linear-gradient(to bottom, #666666, #444444);
}

.selected {
  font-weight: 500;
  text-decoration-color: white;
  text-transform: uppercase;
  background-color: yellow;
}

.Pselected {
  font-weight: 500;
  text-decoration-color: white;
  text-transform: uppercase;
  background-color: orange;
}

.hide {
  opacity: 0;
}
